.pokeballs_page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    gap: 20px;
    text-align: center;
}

.pokeballs_page_heading{
    display: block;
    text-align: center;
    margin: 50px auto;
    width: 90%;
}